.container {
    width: 960px;
    margin: 0 auto;
}
.active-link{
    color: red;
}
.link {
    margin-right: 10px;
}

body{
    font-size: 20px;
}

input, button {
    padding: 5px;
    margin: 5px;
}